.wp-block-essential-gutenberg-blocks-image-content {
  .item-thumb {
    .card_image {
      max-height: 395px;
    }
  }
  .item-details p {
    font-size: 1em !important;
    line-height: 1.35 !important;
  }

}