.ugb-blockquotes {
  border: 0 !important;
  padding: 10px;
  margin-top: 3rem !important;
  margin-left: 50px;
  margin-right: 10px;
  font-style: italic;
  text-align: inherit;
  background: transparent;
  position: relative;
  overflow: visible;
  --quote-color: rgba(129, 141, 165, 0.32);
  z-index: 0;
  p {
    margin: 0;
    padding-left: 30px;
  }
  &, p {
    &:after, &:before {
      display: none;
    }
  }
  &:before {
    content: "❛❛";
    display: block;
    position: absolute;
    font-style: normal;
    font-size: 100px;
    line-height: 1em;
    left: -35px;
    top: -15px;
    opacity: 1;
    z-index: -1;
    color: var(--quote-color);
  }
}
