/* WordPress Base Colors
 Source: https://make.wordpress.org/design/handbook/design-guide/foundations/colors/
*/



// Most used breakpoints
$break-huge: 1440px;
$break-wide: 1280px;
$break-large: 960px; // admin sidebar auto folds
$break-medium: 782px; // adminbar goes big
$break-small: 600px;
$break-mobile: 480px;


//Blues
$base_blue: "#0073AA";
$medium_blue: "#00A0D2";

// Grays
$ultra_dark_gray: "#191E23";
$dark_gray: "#23282D";
$base_gray: "#32373C";
$dark_sliver_gray: "#82878C";

// Auxiliary Hues
$accent_red: "#DC3232";
$accent_orange: "#F56E28";
$accent_yellow: "#FFB900";
$accent_green: "#46B450";
$accent_purple: "#826EB4";


// Colors.
$black: rgb(41, 41, 41);
$white: #f4f4f4;
$gray: #dedede;
$green: #bada55;
$red: orangered;

// Colors
//$gray: #cccccc;
$off-white: #f1f1f1;


// Box Style
$box-radius: 12px;
$box-hori-padding: 35px;
$box-vert-padding: 60px;





@mixin baseBlock() {
  @include blockContentReset();
  @include baseMargins();
}


@mixin blockContentReset() {
  > * {
    margin-top: 0 !important;
    margin-bottom: 1rem !important;
    &:first-child {
      margin-top: 0 !important;
    }
    &:last-child {
      margin-bottom: 0 !important;
    }
  }
}

@mixin baseMargins() {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}




/**
 * For blocks with a box outline, we can use the custom properties:
 * --box-padding-vert
 * --box-padding-hori
 * to get the current padding values
 */
@mixin box() {
  box-shadow: 0 5px 5px 0 rgba(18, 63, 82, 0.035), 0 0 0 1px rgba(176, 181, 193, 0.2);
  background-color: #fff;
  border-radius: $box-radius;
  overflow: hidden;
  padding: $box-vert-padding $box-hori-padding;
  --box-padding-vert: #{$box-vert-padding};
  --box-padding-hori: #{$box-hori-padding};
  @media screen and (max-width: $break-medium) {
    padding: ($box-vert-padding * 2/3) ($box-hori-padding * 2/3);
    --box-padding-vert: #{($box-vert-padding * 2/3)};
    --box-padding-hori: #{($box-hori-padding * 2/3)};
  }
  @media screen and (max-width: $break-small) {
    padding: $box-hori-padding ($box-hori-padding / 2);
    --box-padding-vert: #{$box-hori-padding};
    --box-padding-hori: #{($box-hori-padding / 2)};
  }
}
