.section-content.alice-green-bg {
  background-color: #e4f1f9;
  &.alignfull {
    .container {
      margin: 0 auto;
      max-width: 1265px;
      width: 100%;
    }
  }
  &.alignwide {
    .action-content {
      padding-left: 3em;
      padding-right: 3em;
    }
  }
}
.action-content {
  background-color: #e4f1f9;
  padding: 95px 0;
  
  h1, 
  h2, 
  h3, 
  h4, 
  h5, 
  h6 {
    color: #333;
    font-weight: 300 !important;
    line-height: 1;
    margin: 0 !important;
  }
  .row {
    display: flex;
  }
  .btn {
    background: #8dc63f;
    border: none;
    border-radius: 5px;
    -webkit-box-shadow: none;
    box-shadow: none;
    color: #fff;
    display: inline-block;
    font-size: 13px;
    font-weight: 900;
    line-height: 54px !important;
    padding: 0 21.43px;
    text-decoration: none !important;
    text-transform: uppercase;
  }
  button {
    float: right;
  }
}
.alice-green-bg .cta-content {
  margin: 0 !important;
}
.action-content div[class*="col-lg-8"] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.col-lg-8 {
  -ms-flex: 0 0 66.666667%;
  flex: 0 0 66.666667%;
  max-width: 66.666667%;
}
.text-right {
  text-align: right!important;
}
.col-lg-4 {
  -ms-flex: 0 0 33.333333%;
  flex: 0 0 33.333333%;
  max-width: 33.333333%;
}