.ugb-alert .editor-rich-text p {
  position: relative;
  padding: .75rem 1.25rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: .25rem; }

.ugb-alert .alert-close {
  float: right;
  cursor: pointer; }
  .ugb-alert .alert-close svg {
    position: relative;
    z-index: 1;
    margin: 15px 10px; }

.ugb-alert .primary {
  color: #004085 !important;
  background-color: #cce5ff !important;
  border-color: #b8daff !important; }

.ugb-alert .secondary {
  color: #464a4e !important;
  background-color: #e7e8ea !important;
  border-color: #dddfe2 !important; }

.ugb-alert .success {
  color: #155724 !important;
  background-color: #d4edda !important;
  border-color: #c3e6cb !important; }

.ugb-alert .warning {
  color: #856404 !important;
  background-color: #fff3cd !important;
  border-color: #ffeeba !important; }

.ugb-alert .info {
  color: #0c5460 !important;
  background-color: #d1ecf1 !important;
  border-color: #bee5eb !important; }

.ugb-alert .danger {
  color: #721c24 !important;
  background-color: #f8d7da !important;
  border-color: #f5c6cb !important; }

.ugb-alert .light {
  color: #818182 !important;
  background-color: #fefefe !important;
  border-color: #fdfdfe !important; }

.ugb-alert .dark {
  color: #1b1e21 !important;
  background-color: #d6d8d9 !important;
  border-color: #c6c8ca !important; }
@charset "UTF-8";
.ugb-blockqoutes {
  border: 0 !important;
  padding: 10px;
  margin-left: 32px;
  margin-right: 10px;
  font-style: italic;
  text-align: inherit;
  background: transparent;
  position: relative;
  overflow: visible;
  --quote-color: rgba(129, 141, 165, 0.32); }
  .ugb-blockqoutes p {
    margin: 0; }
  .ugb-blockqoutes p:after, .ugb-blockqoutes p:before {
    display: none; }
  .ugb-blockqoutes:before {
    content: "❛❛";
    display: block;
    position: absolute;
    font-style: normal;
    font-size: 100px;
    line-height: 1em;
    left: -35px;
    top: -15px;
    opacity: 1;
    color: var(--quote-color); }
.wp-block-gutenberg-blocks-card.ugb-card {
  background: #f2f2f2f2; }
  .wp-block-gutenberg-blocks-card.ugb-card .wp-block-ugb-card-image {
    background-color: #fff;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    height: 15.7rem;
    width: 100%;
    border-radius: 10px; }
    .wp-block-gutenberg-blocks-card.ugb-card .wp-block-ugb-card-image p {
      max-height: 100%;
      line-height: 1;
      margin: 0;
      padding: 0;
      position: relative;
      border-radius: 10px; }
    .wp-block-gutenberg-blocks-card.ugb-card .wp-block-ugb-card-image img {
      max-height: 100%;
      border-radius: 10px;
      height: 15.7rem;
      width: 100%;
      -o-object-fit: cover;
      object-fit: cover; }
  .wp-block-gutenberg-blocks-card.ugb-card .card_image {
    height: 200px; }
  .wp-block-gutenberg-blocks-card.ugb-card .remove-image {
    color: red;
    float: left;
    height: initial !important;
    position: absolute;
    top: -15px;
    right: -15px;
    width: initial !important; }
    .wp-block-gutenberg-blocks-card.ugb-card .remove-image svg {
      fill: red; }
.alice-green-bg {
  background-color: #e4f1f9; }

.green-gradient {
  background-image: linear-gradient(to right, rgba(63, 198, 168, 0.9) 0%, rgba(118, 61, 234, 0.9) 100%); }

.green-gradient .action-content h1, .green-gradient .action-content h2, .green-gradient .action-content h3, .green-gradient .action-content h4, .green-gradient .action-content h5, .green-gradient .action-content h6 {
  color: #fff; }

.action-content div[class*="col-lg-8"] {
  display: flex;
  align-items: center; }

.cta-content {
  display: inline-block;
  margin: 95px 0;
  width: 100%; }

.col-lg-8 {
  flex: 0 0 66.666667%;
  max-width: 66.666667%; }

.text-right {
  text-align: right !important; }

.col-lg-4 {
  flex: 0 0 33.333333%;
  max-width: 33.333333%; }
