.wp-block-gutenberg-blocks-alert.ugb-alert p {
  position: relative;
  padding: .75rem 1.25rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: .25rem; }

.wp-block-gutenberg-blocks-alert .alert-close {
  float: right;
  cursor: pointer; }
  .wp-block-gutenberg-blocks-alert .alert-close svg {
    position: relative;
    z-index: 1;
    margin: 15px 10px; }

.wp-block-gutenberg-blocks-alert .primary {
  color: #004085 !important;
  background-color: #cce5ff !important;
  border-color: #b8daff !important; }

.wp-block-gutenberg-blocks-alert .secondary {
  color: #464a4e !important;
  background-color: #e7e8ea !important;
  border-color: #dddfe2 !important; }

.wp-block-gutenberg-blocks-alert .success {
  color: #155724 !important;
  background-color: #d4edda !important;
  border-color: #c3e6cb !important; }

.wp-block-gutenberg-blocks-alert .warning {
  color: #856404 !important;
  background-color: #fff3cd !important;
  border-color: #ffeeba !important; }

.wp-block-gutenberg-blocks-alert .info {
  color: #0c5460 !important;
  background-color: #d1ecf1 !important;
  border-color: #bee5eb !important; }

.wp-block-gutenberg-blocks-alert .danger {
  color: #721c24 !important;
  background-color: #f8d7da !important;
  border-color: #f5c6cb !important; }

.wp-block-gutenberg-blocks-alert .light {
  color: #818182 !important;
  background-color: #fefefe !important;
  border-color: #fdfdfe !important; }

.wp-block-gutenberg-blocks-alert .dark {
  color: #1b1e21 !important;
  background-color: #d6d8d9 !important;
  border-color: #c6c8ca !important; }
.col-lg-6 {
  width: 50%; }

.banner-section {
  position: relative;
  background-size: cover;
  background-position: 50%;
  max-width: 100%;
  margin: 0 0 1.5em;
  align-items: center;
  padding: 16% 10%;
  height: 15.7rem;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover; }
  .banner-section .container, .banner-section .row {
    align-items: center;
    height: 100%; }
  .banner-section .container {
    margin: 0 auto;
    max-width: 1200px;
    padding: 0 15px; }
  .banner-section .row {
    display: flex;
    flex-wrap: wrap; }
  .banner-section .btn {
    background: #8dc63f;
    border: none;
    border-radius: 5px;
    box-shadow: none;
    color: #fff;
    display: inline-block;
    font-family: "Poppins", sans-serif;
    font-size: 13px;
    font-weight: 700;
    margin: 40px 0 20px;
    padding: 12px 21.43px;
    text-decoration: none !important;
    text-transform: uppercase; }
    .banner-section .btn:hover {
      background: #8dc63f;
      box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.25) inset !important;
      color: #fff; }
  .banner-section h1, .banner-section h2, .banner-section h3, .banner-section h4, .banner-section h5, .banner-section h6 {
    font-weight: 300;
    line-height: 1.2 !important;
    margin-bottom: 0; }
    .banner-section h1:before, .banner-section h2:before, .banner-section h3:before, .banner-section h4:before, .banner-section h5:before, .banner-section h6:before {
      display: none !important; }
  .banner-section p {
    color: #8c8c8c !important;
    font-weight: 300;
    line-height: 1.35 !important;
    margin: 1.5em 0 0; }
    .banner-section p.image-wrapper {
      margin: 0;
      top: 15px;
      right: 15px;
      position: absolute; }
