.wp-block-gutenberg-blocks-alert.ugb-alert p {
  position: relative;
  padding: .75rem 1.25rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: .25rem; }

.wp-block-gutenberg-blocks-alert .alert-close {
  float: right;
  cursor: pointer; }
  .wp-block-gutenberg-blocks-alert .alert-close svg {
    position: relative;
    z-index: 1;
    margin: 15px 10px; }

.wp-block-gutenberg-blocks-alert .primary {
  color: #004085 !important;
  background-color: #cce5ff !important;
  border-color: #b8daff !important; }

.wp-block-gutenberg-blocks-alert .secondary {
  color: #464a4e !important;
  background-color: #e7e8ea !important;
  border-color: #dddfe2 !important; }

.wp-block-gutenberg-blocks-alert .success {
  color: #155724 !important;
  background-color: #d4edda !important;
  border-color: #c3e6cb !important; }

.wp-block-gutenberg-blocks-alert .warning {
  color: #856404 !important;
  background-color: #fff3cd !important;
  border-color: #ffeeba !important; }

.wp-block-gutenberg-blocks-alert .info {
  color: #0c5460 !important;
  background-color: #d1ecf1 !important;
  border-color: #bee5eb !important; }

.wp-block-gutenberg-blocks-alert .danger {
  color: #721c24 !important;
  background-color: #f8d7da !important;
  border-color: #f5c6cb !important; }

.wp-block-gutenberg-blocks-alert .light {
  color: #818182 !important;
  background-color: #fefefe !important;
  border-color: #fdfdfe !important; }

.wp-block-gutenberg-blocks-alert .dark {
  color: #1b1e21 !important;
  background-color: #d6d8d9 !important;
  border-color: #c6c8ca !important; }
.testimonial-slider {
  background: #fff;
  text-align: center; }
  .testimonial-slider p {
    color: #808080;
    font-style: italic;
    max-height: 100%;
    line-height: 1.35;
    margin: 0;
    padding: 0;
    position: relative;
    border-radius: 10px; }
    .testimonial-slider p:before {
      content: '"'; }
    .testimonial-slider p:after {
      content: '"'; }
  .testimonial-slider img {
    max-height: 100%;
    border-radius: 10px;
    height: 15.7rem;
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover; }
  .testimonial-slider .h2, .testimonial-slider h3, .testimonial-slider h4, .testimonial-slider h5, .testimonial-slider h6 {
    color: #343434;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    margin: 1.5rem 0 0; }
  .testimonial-slider span {
    color: #999;
    display: block;
    font-size: 14px; }
  .testimonial-slider .card_image {
    border-radius: 50%;
    height: 120px;
    width: 120px;
    margin: 1em auto 0;
    position: relative; }
    .testimonial-slider .card_image img {
      border-radius: 50%;
      height: 100%;
      width: 100%; }
