.ugb-alert .editor-rich-text p {
  position: relative;
  padding: .75rem 1.25rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: .25rem; }

.ugb-alert .alert-close {
  float: right;
  cursor: pointer; }
  .ugb-alert .alert-close svg {
    position: relative;
    z-index: 1;
    margin: 15px 10px; }

.ugb-alert .primary {
  color: #004085 !important;
  background-color: #cce5ff !important;
  border-color: #b8daff !important; }

.ugb-alert .secondary {
  color: #464a4e !important;
  background-color: #e7e8ea !important;
  border-color: #dddfe2 !important; }

.ugb-alert .success {
  color: #155724 !important;
  background-color: #d4edda !important;
  border-color: #c3e6cb !important; }

.ugb-alert .warning {
  color: #856404 !important;
  background-color: #fff3cd !important;
  border-color: #ffeeba !important; }

.ugb-alert .info {
  color: #0c5460 !important;
  background-color: #d1ecf1 !important;
  border-color: #bee5eb !important; }

.ugb-alert .danger {
  color: #721c24 !important;
  background-color: #f8d7da !important;
  border-color: #f5c6cb !important; }

.ugb-alert .light {
  color: #818182 !important;
  background-color: #fefefe !important;
  border-color: #fdfdfe !important; }

.ugb-alert .dark {
  color: #1b1e21 !important;
  background-color: #d6d8d9 !important;
  border-color: #c6c8ca !important; }
.action-content {
  background-color: #e4f1f9;
  padding: 95px 0; }
  .action-content h1,
  .action-content h2,
  .action-content h3,
  .action-content h4,
  .action-content h5,
  .action-content h6 {
    color: #333;
    font-weight: 300 !important;
    line-height: 1; }
  .action-content .row {
    display: flex; }
  .action-content .btn {
    background: #8dc63f;
    border: none;
    border-radius: 5px;
    box-shadow: none;
    color: #fff;
    display: inline-block;
    font-size: 13px;
    font-weight: 900;
    line-height: 54px !important;
    padding: 0 21.43px;
    text-transform: uppercase; }
  .action-content button {
    float: right; }

.alice-green-bg .cta-content {
  margin: 0 !important; }

.action-content div[class*="col-lg-8"] {
  display: flex;
  align-items: center; }

.col-lg-8 {
  flex: 0 0 66.666667%;
  max-width: 66.666667%; }

.text-right {
  text-align: right !important; }

.col-lg-4 {
  flex: 0 0 33.333333%;
  max-width: 33.333333%; }
.col-lg-6 {
  width: 50%; }

.banner-section {
  position: relative;
  background-size: cover;
  background-position: 50%;
  max-width: 100%;
  margin: 0 0 1.5em;
  align-items: center;
  padding: 16% 10%;
  height: 15.7rem;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover; }
  .banner-section .container, .banner-section .row {
    align-items: center;
    height: 100%; }
  .banner-section .row {
    display: flex; }
  .banner-section .btn {
    background: #8dc63f;
    border: none;
    border-radius: 5px;
    box-shadow: none;
    color: #fff;
    display: inline-block;
    font-family: "Poppins", sans-serif;
    font-size: 13px;
    font-weight: 700;
    margin: 20px 0;
    padding: 12px 21.43px;
    text-transform: uppercase; }
    .banner-section .btn:hover {
      background: #8dc63f;
      box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.25) inset !important;
      color: #fff; }
  .banner-section h1, .banner-section h2, .banner-section h3, .banner-section h4, .banner-section h5, .banner-section h6 {
    font-weight: 300;
    line-height: 1.2 !important;
    margin-bottom: 0; }
    .banner-section h1:before, .banner-section h2:before, .banner-section h3:before, .banner-section h4:before, .banner-section h5:before, .banner-section h6:before {
      display: none !important; }
  .banner-section p {
    color: #8c8c8c !important;
    font-weight: 300;
    line-height: 1.35 !important;
    margin: 1.5em 0 0; }
    .banner-section p.image-wrapper {
      margin: 0;
      top: 15px;
      right: 15px;
      position: absolute; }
  .banner-section .editor-url-input {
    float: left; }

.slider-image {
  background: #f3f4f5;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  height: 300px; }
.wp-block-gutenberg-blocks-testimonial.egb-testimonial {
  background: #f2f2f2f2; }
  .wp-block-gutenberg-blocks-testimonial.egb-testimonial .wp-block-egb-testimonial-image {
    background-color: #fff;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    height: 15.7rem;
    width: 100%;
    border-radius: 10px; }
    .wp-block-gutenberg-blocks-testimonial.egb-testimonial .wp-block-egb-testimonial-image p {
      max-height: 100%;
      line-height: 1;
      margin: 0;
      padding: 0;
      position: relative;
      border-radius: 10px; }
    .wp-block-gutenberg-blocks-testimonial.egb-testimonial .wp-block-egb-testimonial-image img {
      max-height: 100%;
      border-radius: 10px;
      height: 15.7rem;
      width: 100%;
      -o-object-fit: cover;
      object-fit: cover; }
  .wp-block-gutenberg-blocks-testimonial.egb-testimonial .testimonial_image {
    height: 200px; }
  .wp-block-gutenberg-blocks-testimonial.egb-testimonial .remove-image {
    color: red;
    float: left;
    height: initial !important;
    position: absolute;
    width: initial !important; }
    .wp-block-gutenberg-blocks-testimonial.egb-testimonial .remove-image svg {
      fill: red; }

button#add-new__btn {
  height: 60px !important;
  width: 60px !important; }

.ugb-testimonial .testimonial_list {
  flex: 0 0 100%;
  margin: 0 !important;
  padding: 15px; }

.wp-block-gutenberg-blocks-testimonial {
  border: 1px solid #e2e4e7;
  padding: 30px 0;
  text-align: center; }
  .wp-block-gutenberg-blocks-testimonial .details {
    box-sizing: initial;
    text-align: left; }

#add-new__btn svg {
  height: 29px;
  width: 25px !important; }

.egb_testimonial_pagination {
  border-bottom: 1px solid #e2e4e7;
  position: absolute;
  left: 0;
  top: 11px;
  width: 100%; }
  .egb_testimonial_pagination li {
    border: 1px solid #e2e4e7;
    color: black;
    float: left;
    list-style: none;
    margin: 0px 5px -1px !important;
    line-height: 1;
    margin: 0;
    height: 30px;
    width: 40px;
    line-height: 30px;
    background: #f3f4f5;
    display: block;
    cursor: pointer;
    text-align: center; }
    .egb_testimonial_pagination li.active {
      border-bottom-color: #fff; }

.editor-rich-text h6, .editor-rich-text span {
  text-align: center; }

.image-wrapper {
  position: relative; }
  .image-wrapper img {
    border-radius: 50%;
    height: 120px;
    width: 120px;
    margin: 0 auto; }
  .image-wrapper .remove-image {
    position: absolute;
    top: 0; }
    .image-wrapper .remove-image svg {
      fill: red; }

.wp-block-gutenberg-blocks-testimonial-slider {
  padding-top: 40px; }
@charset "UTF-8";
.cbp-qtrotator {
  position: relative;
  width: 100%;
  min-height: 200px; }

.no-js .cbp-qtrotator .cbp-qtcontent {
  border-bottom: none; }

.cbp-qtrotator .cbp-qtcontent.cbp-qtcurrent,
.no-js .cbp-qtrotator .cbp-qtcontent {
  position: relative;
  z-index: 100;
  pointer-events: auto;
  opacity: 1; }

.cbp-qtrotator .cbp-qtcontent:before,
.cbp-qtrotator .cbp-qtcontent:after {
  content: " ";
  display: table; }

.cbp-qtrotator .cbp-qtcontent:after {
  clear: both; }

.cbp-qtprogress {
  position: absolute;
  background: #47a3da;
  height: 1px;
  width: 0%;
  top: 0;
  z-index: 1000; }

.cbp-qtrotator blockquote {
  margin: 0;
  padding: 0; }

.cbp-qtrotator blockquote p {
  font-size: 1.5em;
  color: #888;
  font-weight: 300;
  margin: 0; }

.cbp-qtrotator blockquote footer {
  font-size: 1.2em; }

.cbp-qtrotator blockquote footer a:before {
  content: '― '; }

.cbp-qtrotator .cbp-qtcontent svg {
  float: right;
  margin-left: 3em; }

/* Example for media query */
@media screen and (max-width: 30.6em) {
  .cbp-qtrotator {
    font-size: 70%; }
  .cbp-qtrotator svg {
    width: 80px; } }

.click-to-tweet {
  display: block;
  background-color: #fff;
  position: relative;
  border: 1px solid #dddddd;
  border-radius: 4px;
  padding: 15px 30px;
  margin: 15px 0px; }
  .click-to-tweet .ctt-text {
    margin: 0 0 10px 0;
    padding: 0;
    position: relative;
    word-wrap: break-word;
    color: #999999;
    font-size: 24px;
    line-height: 140%;
    box-shadow: none;
    letter-spacing: 0.05em;
    font-weight: 100;
    text-decoration: none;
    text-transform: none; }
    .click-to-tweet .ctt-text a {
      margin: 0;
      padding: 0;
      position: relative;
      color: #999999;
      font-size: 24px;
      line-height: 140%;
      box-shadow: none;
      letter-spacing: 0.05em;
      font-weight: 100;
      text-decoration: none;
      text-transform: none; }
  .click-to-tweet a.ctt-btn {
    margin: 0;
    padding: 0;
    padding-left: 0;
    position: relative;
    display: block;
    text-transform: uppercase;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    box-shadow: none;
    font-size: 12px;
    font-weight: bold;
    line-height: 100%;
    color: #999999;
    float: left;
    text-decoration: none; }
    .click-to-tweet a.ctt-btn:after {
      content: "\f301";
      color: #A0CCED;
      font-family: Dashicons;
      margin: 0 5px; }

.click-to-tweet-alt {
  display: block;
  background-color: #429CD6;
  position: relative;
  border: 1px solid #429CD6;
  border-radius: 4px;
  padding: 15px 30px;
  margin: 15px 0px; }
  .click-to-tweet-alt .ctt-text {
    margin: 0 0 10px 0;
    padding: 0;
    position: relative;
    word-wrap: break-word;
    color: #FFF;
    font-size: 24px;
    line-height: 140%;
    box-shadow: none;
    letter-spacing: 0.05em;
    font-weight: 100;
    text-decoration: none;
    text-transform: none; }
    .click-to-tweet-alt .ctt-text a {
      margin: 0;
      padding: 0;
      position: relative;
      color: #FFF;
      font-size: 24px;
      line-height: 140%;
      box-shadow: none;
      letter-spacing: 0.05em;
      font-weight: 100;
      text-decoration: none;
      text-transform: none; }
      .click-to-tweet-alt .ctt-text a:hover {
        color: #EEEEEE; }
  .click-to-tweet-alt a.ctt-btn {
    margin: 0;
    padding: 0;
    padding-left: 0;
    position: relative;
    display: block;
    text-transform: uppercase;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    box-shadow: none;
    font-size: 12px;
    font-weight: bold;
    line-height: 100%;
    color: #FFF;
    float: left;
    text-decoration: none; }
    .click-to-tweet-alt a.ctt-btn:hover {
      color: #EEEEEE; }
    .click-to-tweet-alt a.ctt-btn:after {
      content: "\f301";
      color: #FFF;
      font-family: Dashicons;
      margin: 0 5px; }
