.ugb-alert .editor-rich-text p {
  position: relative;
  padding: .75rem 1.25rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: .25rem; }

.ugb-alert .alert-close {
  float: right;
  cursor: pointer; }
  .ugb-alert .alert-close svg {
    position: relative;
    z-index: 1;
    margin: 15px 10px; }

.ugb-alert .primary {
  color: #004085 !important;
  background-color: #cce5ff !important;
  border-color: #b8daff !important; }

.ugb-alert .secondary {
  color: #464a4e !important;
  background-color: #e7e8ea !important;
  border-color: #dddfe2 !important; }

.ugb-alert .success {
  color: #155724 !important;
  background-color: #d4edda !important;
  border-color: #c3e6cb !important; }

.ugb-alert .warning {
  color: #856404 !important;
  background-color: #fff3cd !important;
  border-color: #ffeeba !important; }

.ugb-alert .info {
  color: #0c5460 !important;
  background-color: #d1ecf1 !important;
  border-color: #bee5eb !important; }

.ugb-alert .danger {
  color: #721c24 !important;
  background-color: #f8d7da !important;
  border-color: #f5c6cb !important; }

.ugb-alert .light {
  color: #818182 !important;
  background-color: #fefefe !important;
  border-color: #fdfdfe !important; }

.ugb-alert .dark {
  color: #1b1e21 !important;
  background-color: #d6d8d9 !important;
  border-color: #c6c8ca !important; }
.col-lg-6 {
  width: 50%; }

.banner-section {
  position: relative;
  background-size: cover;
  background-position: 50%;
  max-width: 100%;
  margin: 0 0 1.5em;
  align-items: center;
  padding: 16% 10%;
  height: 15.7rem;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover; }
  .banner-section .container, .banner-section .row {
    align-items: center;
    height: 100%; }
  .banner-section .row {
    display: flex; }
  .banner-section .btn {
    background: #8dc63f;
    border: none;
    border-radius: 5px;
    box-shadow: none;
    color: #fff;
    display: inline-block;
    font-family: "Poppins", sans-serif;
    font-size: 13px;
    font-weight: 700;
    margin: 20px 0;
    padding: 12px 21.43px;
    text-transform: uppercase; }
    .banner-section .btn:hover {
      background: #8dc63f;
      box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.25) inset !important;
      color: #fff; }
  .banner-section h1, .banner-section h2, .banner-section h3, .banner-section h4, .banner-section h5, .banner-section h6 {
    font-weight: 300;
    line-height: 1.2 !important;
    margin-bottom: 0; }
    .banner-section h1:before, .banner-section h2:before, .banner-section h3:before, .banner-section h4:before, .banner-section h5:before, .banner-section h6:before {
      display: none !important; }
  .banner-section p {
    color: #8c8c8c !important;
    font-weight: 300;
    line-height: 1.35 !important;
    margin: 1.5em 0 0; }
    .banner-section p.image-wrapper {
      margin: 0;
      top: 15px;
      right: 15px;
      position: absolute; }
  .banner-section .editor-url-input {
    float: left; }

.slider-image {
  background: #f3f4f5;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  height: 300px; }
.wp-block-gutenberg-blocks-testimonial.egb-testimonial {
  background: #f2f2f2f2; }
  .wp-block-gutenberg-blocks-testimonial.egb-testimonial .wp-block-egb-testimonial-image {
    background-color: #fff;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    height: 15.7rem;
    width: 100%;
    border-radius: 10px; }
    .wp-block-gutenberg-blocks-testimonial.egb-testimonial .wp-block-egb-testimonial-image p {
      max-height: 100%;
      line-height: 1;
      margin: 0;
      padding: 0;
      position: relative;
      border-radius: 10px; }
    .wp-block-gutenberg-blocks-testimonial.egb-testimonial .wp-block-egb-testimonial-image img {
      max-height: 100%;
      border-radius: 10px;
      height: 15.7rem;
      width: 100%;
      -o-object-fit: cover;
      object-fit: cover; }
  .wp-block-gutenberg-blocks-testimonial.egb-testimonial .testimonial_image {
    height: 200px; }
  .wp-block-gutenberg-blocks-testimonial.egb-testimonial .remove-image {
    color: red;
    float: left;
    height: initial !important;
    position: absolute;
    width: initial !important; }
    .wp-block-gutenberg-blocks-testimonial.egb-testimonial .remove-image svg {
      fill: red; }

button#add-new__btn {
  height: 60px !important;
  width: 60px !important; }

.ugb-testimonial .testimonial_list {
  flex: 0 0 100%;
  margin: 0 !important;
  padding: 15px; }

.wp-block-gutenberg-blocks-testimonial {
  padding-top: 60px;
  text-align: center; }
  .wp-block-gutenberg-blocks-testimonial .details {
    box-sizing: initial;
    text-align: left; }

#add-new__btn {
  position: absolute;
  right: 0;
  bottom: 0; }
  #add-new__btn svg {
    width: 40px !important; }

.egb_testimonial_pagination {
  position: absolute;
  left: 0;
  top: 0; }
  .egb_testimonial_pagination li {
    float: left;
    list-style: none;
    padding: 9px;
    margin: 0px 5px !important;
    line-height: 1;
    margin: 0;
    height: 30px;
    width: 40px;
    background: red;
    display: block;
    cursor: pointer; }

.editor-rich-text h6, .editor-rich-text span {
  text-align: center; }
