@import "../../assets/scss/common";

/**
 * #.# Styles for Team Member Block.
 *
 * CSS for both Frontend+Backend.
 */
.egb-feature-grid {
  @include baseBlock();
  display: flex;
  flex-wrap: nowrap;
  margin: 0 (-$box-hori-padding / 2);
  > div {
    flex: 1;
    &, &:first-child, &:last-child {
      margin: ($box-hori-padding / 2) !important;
    }
  }
  .egb-feature-grid-item {
    text-align: center;
    @include baseBlock();
    @include box();
  }
}
.egb-design-plain {
  .egb-feature-grid-item {
    box-shadow: none;
    padding: 0;
    border-radius: 0;

    @media screen and (max-width: $break-medium) {
      padding: 0;
    }
    @media screen and (max-width: $break-small) {
      padding-left: 0;
      padding-right: 0;
      padding-top: #{($box-hori-padding / 2)};
      padding-bottom: #{($box-hori-padding / 2)};
    }
  }
}

// For 3 columns, make sure the images are still seen if columns are narrow.
@media screen and (max-width: $break-large) {
  .egb-feature-grid.columns-3 {
    .egb-feature-grid-item > img {
      width: 100% !important;
    }
  }
}

// For small screens, collapse & make sure our images aren't too large.
@media screen and (max-width: $break-small) {
  .egb-feature-grid-item > img {
    max-width: 30vw;
  }
  .egb-feature-grid {
    flex-direction: column;
  }
}


