.wp-block-gutenberg-blocks-card.ugb-card{
  background: #f2f2f2f2;

  .wp-block-ugb-card-image {
    background-color: #fff;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    height: 15.7rem;
    width: 100%;
    border-radius: 10px;

    p {
      max-height: 100%;
      line-height: 1;
      margin: 0;
      padding: 0;
      position: relative;
      border-radius: 10px;
    }
    img{
      max-height: 100%;
      border-radius: 10px;
      height: 15.7rem;
      width: 100%;
      -o-object-fit: cover;
      object-fit: cover;
    }
  }
  .card_image{
    height: 200px;
  }
  .remove-image{
    color: red;
    float: left;
    height: initial !important;
    position: absolute;
    top: -15px;
    right: -15px;
    width: initial !important;
    svg {
      fill: red;
    }
  }
}