.egb-title-subtitle {
    margin: 0 auto 5.625em;
    text-align: center;
    .section-title {
        color: #343434;
        font-size: 1.875em;
        font-weight: 300 !important;
        line-height: 1 !important;
        margin: 0 auto 20px;
    }
    p {
        color:#8c8c8c;
        font-size: 18px !important;
        font-weight: 300;
        line-height: 24px !important;
        margin-bottom: 0;
    }
}

.wp-block-essential-gutenberg-blocks-image-content .tools-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 5.625em;
    .image-wrapper {
        float: left;
        padding-right: 1.875em;
        width: 50%;
        img {
            border-radius: 5px;
            -webkit-box-shadow: 0px 1px 15px rgba(0, 0, 0, 0.3);
            box-shadow: 0px 1px 15px rgba(0, 0, 0, 0.3); }
    }
    .item-details {
        float: right;
        padding-left: 1.875em;
        width: 50%;
        .item-title {
            font-size: 1em;
            margin-bottom: 1.3em; }
        p {
          font-size: 14px; 
        }
    }
    &.imgright .image-wrapper {
        float: none;
        padding-left: 1.875em;
        padding-right: 0;
        -webkit-transform: translate(100%, 0%);
        transform: translate(100%, 0%); 
    }
    &.imgright .item-details {
        float: none;
        padding-right: 1.875em;
        padding-left: 0;
        -webkit-transform: translate(-100%, 0%);
        transform: translate(-100%, 0%); 
    }
}
.components-button.remove-image {
    color: red;
    position: absolute;
    left: 0;
    top: 0;
    padding: 0;
    svg {
        fill: red;
    }
}

.wp-block-gutenberg-blocks-testimonial {
    div,
    p {
      color: #808080;
      font-size: 20px;
      font-style: italic;
      line-height: 32px;
      margin-bottom: 0 !important;
    }
    .name {
      font-size: 1em;
      font-weight: 700;
      line-height: 1 !important;
      margin-top: 20px;
    }
    .components-autocomplete {
        margin-bottom: 0 !important;
    }
    span {
      color: #717171;
      font-size: 14px;
      line-height: 1 !important;
    }
    button {
      border-radius: 50% !important;
      height: 120px !important;
      width: 120px !important;
      margin: 33px auto 0 !important;
    }
}

